<section class="content-header">
    <h1>
        Category
        <small>Add New Category</small>

    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a>
        </li>
        <li class="">
            <a href="/dashboard/categories">Categories</a>
        </li>
        <li>
            Add new
        </li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <form method="POST" action="/dashboard/categories/store" enctype="multipart/form-data">
            {{> 'dashboard/category/form'}}
        </form>
        
    </div>
</section>

<script type="text/javascript">
    {{!-- {{> 'dashboard/category/script' }} --}}
</script>